@{
    ViewBag.Title = "Chart";
    ViewData["ProductName"] = "Chart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Syncfusion.EJ2;
@using Syncfusion.EJ2.DropDowns
@using SyncfusionMvcGraphsApplication1.Controllers;
<h2>Chart Features:</h2><br />
<li> Series Type - Line</li>
<li> Zooming</li>
<li> Cross Hair</li>
<li> Theme - Bootstrap-Theme</li>
<br />
<h2>Chart</h2><br />
<div id="ControlRegion">
    @Html.EJS().Chart("container").PrimaryXAxis(px => px.Title("Years").
        ValueType(Syncfusion.EJ2.Charts.ValueType.DateTime)).Series(series =>
                       {
                           series.Type(Syncfusion.EJ2.Charts.ChartSeriesType.Spline)
                               .DataSource(ViewBag.series2/*"series1"*/)
                               .Name("Product X")
                               .XName("Date")
                               .YName("Value")/*.Size("bubbleSize")*/
                               .Add();
                       }
                       ).Crosshair(cr => cr.Enable(true)).ZoomSettings(z => z.EnableMouseWheelZooming(true).EnablePinchZooming(true).EnableSelectionZooming(true).Mode(Syncfusion.EJ2.Charts.ZoomMode.X).EnableScrollbar(true)).PrimaryYAxis(py => py.Title("Profit ($)")).Title("Sales History of Product X").Render()
</div>
<script>
    var series1 = [];
    var point1;
    var value = 80;
    var i;
    for (i = 1; i <= 10; i++) {
        if (Math.random() > 0.5) {
            value += Math.random();
        }
        else {
            value -= Math.random();
        }
        point1 = { x: new Date(2010, 1, i), y: value.toFixed(1), bubbleSize: Math.random() };
        series1.push(point1);
    }
</script>
