@{
    ViewBag.Title = "SparkLine";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Syncfusion.EJ2;
@using Syncfusion.EJ2.Charts;
<h2>SparkLine Features:</h2>
<br/>
<li> Enable Tooltip</li>
<li> Marker</li>
<li> Data Label</li>
<li> Track Line</li>
<li> Axis Line</li>
<li> Type - Column</li>
<li> Theme - Bootstrap-Theme</li>
<br/>
<div id = "ControlRegion">
<div class="col-lg-8 control-section">
    <div id="spark-container" class="row">
        <div class="cols-sample-area" align="center">
            <p>
                <font size=4px> Worldwide car sales by brand - 2017</font>
            </p>
            <table style="width:100%;">
                <tr>
                    <td align="center" style="width: 30%;">Sales Percentage</td>
                    <td style="width: 30%;">
                        <div id="percentage" style="height:200px">
                            @Html.EJS().Sparkline("percentage").AxisSettings(axisSettings => axisSettings.LineSettings(new SparklineLineSettings { Visible=true })).Width("180px").Load("load1").Height("200px").DataLabelSettings(new Syncfusion.EJ2.Charts.SparklineSparklineDataLabelSettings { Visible = new string[] { "All" } }).LineWidth(1).Type(SparklineType.Column).ValueType(SparklineValueType.Category).XName("xval").YName("yval").MarkerSettings(new Syncfusion.EJ2.Charts.SparklineSparklineMarkerSettings { Fill = "red", Size = 5, Visible = new string[] { "ALL"} }).TooltipSettings(toolip => toolip.Visible(true).Format("${xval}: ${yval}").TrackLineSettings(new SparklineTrackLineSettings { Color = "Red", Width = 1, Visible = true })).DataSource(ViewBag.datasource).Render()
                        </div>
                    </td>
                </tr>                
            </table>
        </div>
    </div>
</div>
</div>
<script>
    var sampleChange;
    var percentage, sales;
    function load1(args) {
        percentage = args.sparkline;
        var theme = location.hash.split('/')[1];
        theme = theme ? theme : 'Material';
        args.sparkline.theme = (theme.charAt(0).toUpperCase() + theme.slice(1));
        args.sparkline.axisSettings.lineSettings.width = 2;
        args.sparkline.axisSettings.lineSettings.color = "red";
    }
</script>
