@{
    ViewBag.Title = "DashboardLayout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<h2>DashboardLayout Features:</h2>
<br />
<li> DashboardLayout Samples - Resizing</li>
<li> Theme - Bootstrap-Theme</li>
<br />
<div id="ControlRegion">
    <div class="control-section">
        <div>
            @Html.EJS().DashboardLayout("defaultLayout").Columns(6).AllowResizing(true).ContentTemplate(@<div>
                <div id="one" class="e-panel" data-row="0" data-col="1" data-sizex="3" data-sizey="2">
                    <span id="close" class="e-template-icon e-clear-icon"></span>
                    <div class="e-panel-container">
                        <div class="text-align">

                            <div class="container">

                                <div id="map" style="height: 300px;"></div>

                                <script>
                                function myMap() {
                                    var mapCanvas = document.getElementById("map");
                                    var mapOptions = {
                                        center: new google.maps.LatLng(51.5, -0.2), zoom: 10
                                    };
                                    var map = new google.maps.Map(mapCanvas, mapOptions);
                                }
                                </script>

                                <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDwxWRacwafoPZRC1n20LGSKNCaBo6ye4I&callback=myMap"></script>


                            </div>

                        </div>
                    </div>
                </div>

                <div id="two" class="e-panel" data-row="1" data-col="0" data-sizex="1" data-sizey="2">
                    <span id="close" class="e-template-icon e-clear-icon"></span>
                    <div class="e-panel-container">
                        <div class="text-align">1</div>
                    </div>
                </div>
                <div id="three" class="e-panel" data-row="0" data-col="1" data-sizex="2" data-sizey="2">
                    <span id="close" class="e-template-icon e-clear-icon"></span>
                    <div class="e-panel-container">
                        <div class="text-align">2</div>
                    </div>
                </div>
                <div id="four" class="e-panel" data-row="2" data-col="1" data-sizex="1" data-sizey="1">
                    <span id="close" class="e-template-icon e-clear-icon"></span>
                    <div class="e-panel-container">
                        <div class="text-align">3</div>
                    </div>
                </div>
                <div id="five" class="e-panel" data-row="2" data-col="2" data-sizex="2" data-sizey="1">
                    <span id="close" class="e-template-icon e-clear-icon"></span>
                    <div class="e-panel-container">
                        <div class="text-align">4</div>
                    </div>
                </div>
                <div id="six" class="e-panel" data-row="0" data-col="3" data-sizex="1" data-sizey="1">
                    <span id="close" class="e-template-icon e-clear-icon"></span>
                    <div class="e-panel-container">
                        <div class="text-align">5</div>
                    </div>
                </div>
                <div id="seven" class="e-panel" data-row="1" data-col="3" data-sizex="1" data-sizey="1">
                    <span id="close" class="e-template-icon e-clear-icon"></span>
                    <div class="e-panel-container">
                        <div class="text-align">6</div>
                    </div>
                </div>
                <div id="eight" class="e-panel" data-row="0" data-col="4" data-sizex="1" data-sizey="3">
                    <span id="close" class="e-template-icon e-clear-icon"></span>
                    <div class="e-panel-container">
                        <div class="text-align">7</div>
                    </div>
                </div>

            </div>).Render()
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var dashboardObject = document.getElementById('defaultLayout').ej2_instances[0];
            var count = 8;
            function onCloseIconHandler() {
                if (event.target.closest('.e-panel')) {
                    dashboardObject.removePanel(event.target.closest('.e-panel').id);
                }
            }
            var closeElement = document.querySelectorAll('.e-clear-icon');
            for (var i = 0; i < closeElement.length; i++) {
                closeElement[i].addEventListener('click', onCloseIconHandler);
            }
        });
    </script>
    <style>
        #defaultLayout {
            padding: 10px;
        }

        .e-dashboard-layout.e-control .e-panel:hover span {
            display: block;
        }

        #defaultLayout .e-panel .e-panel-container {
            vertical-align: middle;
            font-weight: 600;
            font-size: 20px;
            text-align: center;
        }

        .e-template-icon {
            padding: 10px;
            float: right;
            display: none;
        }

        .e-clear-icon::before {
            content: '\e932';
            font-size: 12px;
            font-family: 'e-icons';
        }

        .text-align {
            line-height: 160px;
        }

        .e-clear-icon {
            position: absolute;
            right: 0;
            cursor: pointer;
        }

        .sb-demo-section .container-fluid {
            background: #E5E5E5;
        }

        #resize {
            margin-top: 10px;
            padding: 10px;
        }
    </style>
</div>
